<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card
            title="Saiu a nova versão do Angular!"
            imageSource="https://s2-techtudo.glbimg.com/zAVzm6CbZ6VSmpDe76jhK7Qx73E=/0x0:1200x700/888x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2023/u/G/eQpsXGQB6xTlFlvJsUOw/avatar-a-lenda-de-aang.jpg"
        ></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            title="Small Card 1"
            imageSource="https://t2.tudocdn.net/647032?w=1920&h=1080"
        ></app-small-card>
        <app-small-card
            title="Small Card 2"
            imageSource="https://sm.ign.com/ign_br/tv/a/avatar-a-l/avatar-a-lenda-de-aang_1yq7.png"
        ></app-small-card>
        <app-small-card
            title="Small Card 3"
            imageSource="https://miro.medium.com/v2/resize:fit:600/1*9toFVC716YZmo-J3HXotKw.jpeg"
        ></app-small-card>
    </div>
</div>
